*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.nav-bar{
    background-color:rgb(179, 159, 219);

}



.inner-register-container{
   
    width: 400px;
    
    background-color: rgb(205, 241, 229);

    padding: 5px;

    margin-top: 20px;
    
}

.login-container{
    width: 400px;
    
    background-color: rgb(205, 241, 229);

    padding: 0px;
    
}

.contenedor-encabezado{
    background-color:rgb(179, 159, 219);

    padding: 5px;
    
}

.submitb{
    text-align: center;
    padding: 20px;
}


.ventana-de-login{

    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 250px;
}

.container-title{

    margin-bottom: 15px;

    margin-top: 0px;

    padding-top: 0px;

}

.cuerpo-login{
    padding: 10px;
}